{% extends "_base.html" %} {% block content %} {% load static %}
<div class="w-50 mt-9 margin-top-5">
  {% for semaine in emploi_temps_global %}
  <table class="table card mb-3">
    {% comment %}
    <thead>
      <tr>
        <th scope="col">jours</th>
        <th scope="col">Matière</th>
        <th scope="col">Matière</th>
        <th scope="col">Matière</th>
      </tr>
    </thead>
    {% endcomment %}
    <tbody>
      {% for journee in semaine %} {% for key, value in journee.items %}
      <tr>
        {% if key == 'nom_jour' %}
        <th scope="row">{{ value }}</th>
        {% else %} {% for ue in value %}
        <td>{{ ue.titre }}</td>
        {% endfor %} {% endif %}
      </tr>
      {% endfor %} {% endfor %}
    </tbody>
  </table>
  {% endfor%}
</div>
{% endblock content %}
