{% extends "_base.html" %} {% block content %} {% load static %}
<div class="content-wrapper">
  {% if emploi_temps_global is none %}
  <a href="{% url 'enregistement' %}">
    <button type="submit" class="btn btn-primary me-2">Enregistrement</button>
  </a>
  {% else %}
  <div class="row">
    <div class="mb-3 d-flex justify-content-between">
      <h4 class="card-title">Semaine estimée {{ duree }}</h4>
      <div class="d-flex">
        <a href="{% url 'refraiche' %}">
          <button type="submit" class="btn btn-secondary w-5 me-2">
            régénérer
          </button>
        </a>
        <a href="{% url 'enregistement' %}">
          <button type="submit" class="btn btn-primary w-5 me-2">
            Enregistrement
          </button>
        </a>
      </div>
    </div>
    {% for semaine in emploi_temps_global %}
    <div class="col-lg-9 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          {% comment %}
          <h4 class="card-title">Basic Table</h4>
          <p class="card-description">ser <code>.table</code></p>
          {% endcomment %}

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Jour</th>
                  <th>7h:00mn-10h:00mn</th>
                  <th>10h:30mn-13h:30mn</th>
                  <th>14h:00mn-17h:00mn</th>
                </tr>
              </thead>
              <tbody>
                {% for journee in semaine %}
                <tr>
                  {% for key, value in journee.items %}
                  <div>
                    {% if key == 'nom_jour'%}
                    <td>{{ value }}</td>
                    {% else %}
                    <td class="align-content-center">
                      <p class="card-description">Salle <code>Agora</code></p>
                      <div class="col">
                        <p class="fw-bold">{{ value.0.titre }}</p>
                        <p class="card-description">{{ value.0.enseignant }}</p>
                      </div>
                      <p class="card-description">
                        Crédit <code>{{ value.0.credit }}</code>
                      </p>
                    </td>
                    <td>{{ value.1.titre }}</td>
                    <td>{{ value.2.titre }}</td>
                    {% endif %}
                  </div>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock content %}
